
experiment/bsr/*
experiment/articles/*
textPrepare.pyc

*.pyc

articles/in_use/automatingDataScientists.json

articles/in_use/automatingDataScientists.json

analysis/figures/
analysis/allData.json

brainspeedrLabNotes.txt

experiment/articles.zip

brainspeedrLabNotes.txt
